body {
  background-image: url("backimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.89;
}
.header {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: larger;
  font-style: italic;
}
.textField {
  border: 2px solid black;
  margin: 5px;
  height: 25px;
  border-radius: 25px;
  width: 80%;
}
.textField:hover {
  background-color: palegoldenrod;
}
.add {
  background-color: #33ff33;
  width: 80px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
.add:hover,
.reset:hover {
  background-color: white;
}
.reset {
  background-color: red;
  width: 80px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
table,
tbody {
  border: 2px solid black;
  text-align: center;
  margin: 2px;
}
tr:nth-child(even) {
  background-color: lightskyblue;
}
.myTable .th {
  background-color: lightgreen;
}
.edit {
  background-color: #33ff33;
  margin: 2px;
}
.del {
  background-color: red;
  margin: 2px;
}
.edit:hover {
  background-color: white;
}
.del:hover {
  background-color: white;
}
form {
  position: -webkit-sticky;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 3px solid white;
  border-radius: 25px;
  box-shadow: 0 12px 12px 0 rgba(247, 0, 0, 0.2),
    0 15px 22px 0 rgba(255, 0, 0, 0.19);
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}
form:hover {
  border: 3px solid black;
}
